//color
$color-white: #fff;
$color-black: #000;
$color-light-gray: #e7e0dc;
$color-dark-gray: #6a6a6a;
$color-gray: #b3b3b3;
$color-banner-gray: #474747;
$color-violet: #b43783;
$color-services-gray: #2e2e2e;
$color-bg-gray: #616161;
$color-body-gray: #797979;
$color-service_h3: #242424;
$color-service_price: #939393;






