.services-banner {
  @include scr_iphone {
    flex-direction: column;
  }
  @include scr_phone {
    flex-direction: column;
  }
  display: flex;
  background-color: $color-white;
  box-shadow: 0 0 7px $color-black;
  div {
    img {
      width: 100%;
    }
  }
  .services-banner__img {
    @include scr_iphone {
      width: 100%;
    }
    @include scr_phone {
      width: 100%;
    }
    position: relative;
    width: 34%;
    img{
      width: 100%;
    }
    .services-banner__nav {
      position: absolute;
      top: 20px;
      right: 0;
      padding: 25px 20px;
      background-color: rgba(255, 255, 255, 0.6);
      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        li {
          &:hover {
            a {
              color: $color-gray;
            }
          }
          a {
            color: $color-violet;
            line-height: 33px;
            white-space: nowrap;
            font-weight: bold;
            font-size: 0.88em;
          }
        }
      }
    }

  }
  .services-banner__text{
    @include scr_iphone {
      padding: 3em;
      width: 100%;
    }
    @include scr_phone {
      width: 100%;
      padding: 2em;
    }
    padding: 4em;
    width: 66%;
    font-family: HelveticaNeue Light, Arial;
    h2{
      font-size: 1.25em;
      color: $color-gray;
    }
    >p {
      font-size: 0.88em;
      color: $color-banner-gray;
      font-weight: bold;

    }
    .services__item{
      margin-top: 40px;
      h3 {
        text-transform: uppercase;
        color: $color-service_h3;
        font-weight: bold;

      }
      .services-banner_price{
        color: $color-service_price;
        line-height: 1.5em;
      }
      .services-banner_descriprion{
        font-size: 0.8em;
        margin-top: 20px;
        color: $color-banner-gray;
        line-height: 2em;
        font-weight: bold;
      }
    }
  }
}
